{% extends 'base.html' %}

{% block title %}
    Article : {{ article.title }}
{% endblock %}

{% block content %}
    <h1>Titre : {{ article.title }}</h1>
    <h2>Auteur : {{ article.author }}</h2>
    <p>{{ article.content }}</p>
    <p>{{ article.date }}</p>

    <form action = "{% url 'modifier_article' article.id %}">
    <button type="submit"> Modifier </button>
    </form>
    <br>

    <form action = "{% url 'supprimer_article' article.id %}">
    <button type="submit"> Supprimer </button>
    </form>
{% endblock %}